.tabs_container {
	position: relative;
	width: 1000px;
	height: 25px;
	margin:0px auto;
	border-bottom:2px solid #121212;
}

.content .slidingDiv .tabs_container ul,li {
	list-style: none;
	display: inline;
	padding: 10px 10px 5px 10px;
	margin:0px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	text-decoration: none;
}



.tabs_container a{
	font-size:12px;
	text-decoration: none;
	color: #19E8FF;
	text-transform: uppercase;
	
}

.active {
	background-color: #121212;
}

div.tabs_content {
	position: relative;
	width: 1000px;
	margin: auto;
	height: auto;
}

.slidingDiv2 .tabs_container a{
	font-size:12px;
	text-decoration: none;
	color: #242424;
	text-transform: uppercase;
	
}

.slidingDiv2 .active a{
	color: #19E8FF;
}